+cat({
	title: 'Каталог',
	items: [
		{
			id: 'borshch_s_govyadinoj',
			title: 'Суп &laquo;Борщ Полтавский&raquo;',
			desc: 'Борщ&nbsp;&mdash; самый известный русский суп! А&nbsp;у&nbsp;нас он&nbsp;еще и&nbsp;самый вкусный!',
			price: '209'
		},
		{
			id: 'solyanka_sbornaya_myasnaya',
			title: 'Суп &laquo;Солянка&raquo;',
			desc: 'Солянка или селянка? Теперь уже не&nbsp;важно! Этот суп&nbsp;&mdash; настоящий хит в&nbsp;России!',
			price: '239'
		},
		{
			id: 'sup_lapsha_s_kuricej',
			title: 'Суп &laquo;Лапша с&nbsp;курицей&raquo;',
			desc: 'Настоящая домашняя лапша и&nbsp;курочка, которую мы&nbsp;варим не&nbsp;меньше 3&nbsp;часов!',
			price: '179'
		},
		{
			id: 'lagman',
			title: 'Суп &laquo;ЛАГМАН с&nbsp;говядиной&raquo;',
			desc: 'Авторский рецепт Лагмана от&nbsp;Егора Булатова! Не&nbsp;пропустите, это нереально вкусно!',
			price: '209'
		},
		{
			id: 'vengerskij_gulyash',
			title: 'Суп &laquo;Гуляш с&nbsp;говядиной&raquo;',
			desc: 'Сломай стереотипы! Попробуй настоящий венгерский гуляш!',
			price: '219'
		},
		{
			id: 'afrikanskij_orekhovyj_sup',
			title: 'Суп &laquo;Африканский ореховый&raquo;',
			desc: 'Максимальный экстрим не&nbsp;для слабонервных! Божественно вкусно!',
			price: '219'
		},
		{
			id: 'gruzinskij_harcho_s_govyadinoj',
			title: 'Суп &laquo;Харчо с&nbsp;говядиной&raquo;',
			desc: 'Рецепт знаменитого грузинского шефа Романоза Григалашвили!',
			price: '219'
		},
		{
			id: 'indijskij_dal',
			title: 'Суп &laquo;Масурдал&raquo;',
			desc: 'Жемчужина индийской кухни! Всегда мало, всегда нарасхват!',
			price: '199'
		}
	]
})(class="cat--mini cat--catalog block--pages")