div.contacts.block(id="contacts")
	div.container
		div.row
			div.col-12
				div.block__title
					h2.h2 Адреса розничных точек продаж
	div.contacts__map
		div.contacts__wraper
			include ../../molecules/map/map.pug
		//- div.container
		//- 	div.row
		//- 		div.col-12 
		//- 			div.contacts__map-info
		//- 				div.contacts__map-info-item
		//- 					+icon-text({
		//- 						img: 'icon--map-blue.png', 
		//- 						alt: 'Маркер карты', 
		//- 						text: 'Москва, метро Отрадное.&nbsp;ул. Хачатуряна, 20А. Кулинария &ldquo;Домашний уголок&rdquo;'
		//- 					})(class="icon-text--blue")

		//- 					+icon-text({
		//- 						img: 'icon--map-blue.png', 
		//- 						alt: 'Маркер карты', 
		//- 						text: 'Москва, метро Некрасовка.&nbsp;ул. Лавриненко, 3А. Кулинария &ldquo;Готовая еда&rdquo;'
		//- 					})(class="icon-text--blue")

		//- 					+icon-text({
		//- 						img: 'icon--map-blue.png', 
		//- 						alt: 'Маркер карты', 
		//- 						text: 'Москва, метро Стахановская.&nbsp;ул. 2-ой Грайвороновский проезд,38с1. Кулинария &ldquo;Готовая еда&rdquo;'
		//- 					})(class="icon-text--blue")

		//- 				div.contacts__map-info-item
		//- 					+icon-text({
		//- 						img: 'icon--phone-blue.png', 
		//- 						alt: 'Телефон', 
		//- 						tel: '+74959227206', 
		//- 						text: '+7(495)922-72-06'
		//- 					})(class="icon-text--blue")

						//- div.contacts__map-info-item
						//- 	+icon-text({
						//- 		img: 'icon--mail-blue.png', 
						//- 		alt: 'письмо', 
						//- 		text: 'https://vk.com/easyfood_ng Профиль в&nbsp;инстраграм @easyfood.ng'
						//- 	})(class="icon-text--blue")

