footer.footer
	div.container
		div.row
			div.col-12.footer__page
				div.footer__page
					p.text.text--16.text--white © 2020, ООО «ГРАНД» Все права защищены
					p.text.text--16.text--white Юридический адрес: 456200, Челябинская область, г. Златоуст, ул. Косотурская, д. 17, тел.
						br 
						a.link.link--white(href="tel:+73513620067") +7&nbsp;(351)&nbsp;362&#8209;00&#8209;67
						|,  
						a.link.link--white(href="tel:+73513620080") +7&nbsp;(351)&nbsp;362&#8209;00&#8209;80
						|.

				div.footer__disclaimer.footer__page
					p.text.text--12.text--white Изготовитель вправе менять комплектацию и характеристики товара без предварительного уведомления. Пожалуйста, уточняйте информацию у менеджеров.
						br
						|Интернет ресурс носит исключительно информационный характер и не является публичной офертой, определяемой положениями ст. 437 Гражданского кодекса РФ.