section.page-product
	div.container.page-product__top
		div.row
			div.col-12.col-md-5
				div.page-product__header.page-product__desctop-hide
					h1.h1.h1--50.h1--black.page-product__title Суп «МАТАЙ желтый с&nbsp;курицей»
					p.text.text--16.text--gray.page-product__subtitle вес нетто: 320 г

				div.page-product__img
					img(src="images/mataj_zhyoltyj_s_kuricej_big.png" alt="Суп «МАТАЙ желтый с курицей»" title="Суп «МАТАЙ желтый с курицей»")

			div.col-12.col-md-7
				div.page-product__body
					div.page-product__header.page-product__mobile-hide 
						h1.h1.h1--50.h1--black.page-product__title Суп «МАТАЙ желтый с&nbsp;курицей»
						p.text.text--16.text--gray.page-product__subtitle вес нетто: 320 г

					div.page-product__composition
						span.text.text--16.page-product__composition-title
							strong Состав:
						p.text.text--14.text--gray.page-product__composition-text вода, филе куриное, яичная лапша(мука пшеничная в/с, яйцо куриное, масло растительное, соль), грибы вешенки свежие, кукуруза замороженная, молоко кокосовое сухое, паста Карри желтая(лук-шалот, чеснок, красный перец чили сушеный, соль, лемонграсс, каффир-лайм, галангал, корица, мускатный орех, тмин, кориандр, куркума), бульон куриный концентрированный натуральный, лайм свежий, сахар тростниковый, масло растительное, кинза свежая, соль, экстракт дрожжей, сок лайма сухой, куркума.

						div.page-product__compound
							+compound({
								left: {
									name: 'compound-value',
									arg: {
										title: 'Пищевая ценность на 100 г:',
										items: [
											{
												name: 'белки',
												number: '4,89 г'
											},
											{
												name: 'жиры',
												number: '5,07 г'
											},
											{
												name: 'углеводы',
												number: '7,40 г'
											},
											{
												name: 'калории',
												number: '93,4'
											}
										]
									}
								},
								right: {
									name: 'compound-value',
									arg: {
										title: 'Пищевая ценность на 320 г:',
										items: [
											{
												name: 'белки',
												number: '15,65 г'
											},
											{
												name: 'жиры',
												number: '16,22 г'
											},
											{
												name: 'углеводы',
												number: '23,68 г'
											},
											{
												name: 'калории',
												number: '298,9'
											}
										]
									}
								}
							})
					div.page-product__buy
						+buy-action({price: '209', id: 'mataj_zhyoltyj_s_kuricej'})

	div.page-product__tabs
		div.container
			div.row
				div.col-12
					+tab({
						tab: {
							name: 'tabs-header',
							arg: {
								items: [
									{url: '#tab-1', link: 'Описание', class: 'tabs__link--active'},
									{url: '#tab-2', link: 'Приготовление'},
									{url: '#tab-3', link: 'Характеристики'}
								]
							}
						},
						items: [
							{
								id: 'tab-1',
								text_body: '<p class="text text--bold">Давно не&nbsp;испытывал бурю вкусовых эмоций? Ты&nbsp;должен это попробовать! Обязательно!</p> <p class="text">Матай&nbsp;&mdash; самая загадочная серия супов от&nbsp;Егора Булатова! Эти настоящие вкусовые бомбы не&nbsp;оставляют ни&nbsp;единого шанса равнодушию! Желтый Матай с&nbsp;нежным куриным филе, яичной лапшой м&nbsp;тонкими пряными ароматами Малайзии обязательно станет вашим излюбленным блюдом на&nbsp;все времена! Привыкание гарантируется!</p>',
								url_video: 'https://www.youtube.com/embed/gaJiI3dnU6I'
							},
							{
								id: 'tab-2',
								text_content: '<p class="text text--22">1. В СВЧ-печи: приоткрыть крышку контейнера, разогреть на максимальной мощности в течение 8-9 минут.</p><p class="text text--22">2. В духовом шкафу или на плите: переложить замороженный продукт в подходящую посуду и разогревать до закипания.</p>'
							},
							{
								id: 'tab-3',
								text_content: '<p class="text text--22">Вес нетто: 320 г <br> Производитель: ООО ГРАНД, Челябинская область, г. Златоуст, ул. Косотурская, д. 17. <br> Тел.: +7(3513)62-00-67</p> <p class="text text--22">ТУ 10.89.11-017-19421968-2020</p>'
							}
						]
					})