section.page-product
	div.container.page-product__top
		div.row
			div.col-12.col-md-5
				div.page-product__header.page-product__desctop-hide
					h1.h1.h1--50.h1--black.page-product__title Суп «Пихельштайнер»
					p.text.text--16.text--gray.page-product__subtitle вес нетто: 320 г

				div.page-product__img
					img(src="images/nemeckij_pihelshtajner_big.png" alt="Суп «Пихельштайнер»" title="Суп «Пихельштайнер»")

			div.col-12.col-md-7
				div.page-product__body
					div.page-product__header.page-product__mobile-hide 
						h1.h1.h1--50.h1--black.page-product__title Суп «Пихельштайнер»
						p.text.text--16.text--gray.page-product__subtitle вес нетто: 320 г

					div.page-product__composition
						span.text.text--16.page-product__composition-title
							strong Состав:
						p.text.text--14.text--gray.page-product__composition-text вода, картофель свежий, сельдерей свежий, говядина, свинина, филе куриное, морковь свежая, лук репчатый свежий, лук порей свежий, петрушка свежая, соль, паприка молотая, перец душистый, тимьян, розмарин, базилик, лавровый лист, перец черный молотый.

						div.page-product__compound
							+compound({
								left: {
									name: 'compound-value',
									arg: {
										title: 'Пищевая ценность на 100 г:',
										items: [
											{
												name: 'белки',
												number: '4,45 г'
											},
											{
												name: 'жиры',
												number: '2,28 г'
											},
											{
												name: 'углеводы',
												number: '4,99 г'
											},
											{
												name: 'калории',
												number: '57,0'
											}
										]
									}
								},
								right: {
									name: 'compound-value',
									arg: {
										title: 'Пищевая ценность на 320 г:',
										items: [
											{
												name: 'белки',
												number: '14,24 г'
											},
											{
												name: 'жиры',
												number: '7,30 г'
											},
											{
												name: 'углеводы',
												number: '15,97 г'
											},
											{
												name: 'калории',
												number: '182,4'
											}
										]
									}
								}
							})
					div.page-product__buy
						+buy-action({price: '229', id: 'nemeckij_pihelshtajner'})

	div.page-product__tabs
		div.container
			div.row
				div.col-12
					+tab({
						tab: {
							name: 'tabs-header',
							arg: {
								items: [
									{url: '#tab-1', link: 'Описание', class: 'tabs__link--active'},
									{url: '#tab-2', link: 'Приготовление'},
									{url: '#tab-3', link: 'Характеристики'}
								]
							}
						},
						items: [
							{
								id: 'tab-1',
								text_body: '<p class="text text--bold">Ахтунг, господа! К&nbsp;столу подается рагу Бисмарка&nbsp;&mdash; три вида мяса!</p> <p class="text">В&nbsp;России легко представить блюдо из&nbsp;трех сортов рыбы&nbsp;&mdash; так называемая тройная уха, но&nbsp;вот из&nbsp;трех видов мяса? Егор Булатов и&nbsp;Фабрика супа &#8470;&nbsp;1&nbsp;представляют легенду немецкой кулинарии&nbsp;&mdash; Пихельштайнер!</p> <p class="text">В&nbsp;этом рагу действительно три вида мяса-говядина, курица и&nbsp;свинина! Если вас обуревает невыносимое чувство голода, а&nbsp;пельмени уже стоят поперек горла, не&nbsp;откажите себе в&nbsp;удовольствии насытиться знаменитым рагу Бисмарка! Во&nbsp;время приготовления этого рагу повар практически не&nbsp;прикасается к&nbsp;блюду, оно тушится само по&nbsp;себе, овощи, специи, травы и&nbsp;мясо не&nbsp;перемешиваются между собой.</p> <p class="text">И&nbsp;для вас еще одной тайной на&nbsp;земле станет меньше!</p>',
								url_video: 'https://www.youtube.com/embed/tFWC9JnGjyQ'
							},
							{
								id: 'tab-2',
								text_content: '<p class="text text--22">1. В СВЧ-печи: приоткрыть крышку контейнера, разогреть на максимальной мощности в течение 8-9 минут.</p><p class="text text--22">2. В духовом шкафу или на плите: переложить замороженный продукт в подходящую посуду и разогревать до закипания.</p>'
							},
							{
								id: 'tab-3',
								text_content: '<p class="text text--22">Вес нетто: 320 г <br> Производитель: ООО ГРАНД, Челябинская область, г. Златоуст, ул. Косотурская, д. 17. <br> Тел.: +7(3513)62-00-67</p> <p class="text text--22">ТУ 10.89.11-017-19421968-2020</p>'
							}
						]
					})