section.page-product
	div.container.page-product__top
		div.row
			div.col-12.col-md-5
				div.page-product__header.page-product__desctop-hide
					h1.h1.h1--50.h1--black.page-product__title Суп «ЛАГМАН с&nbsp;говядиной»
					p.text.text--16.text--gray.page-product__subtitle вес нетто: 320 г

				div.page-product__img
					img(src="images/lagman_big.png" alt="Суп «ЛАГМАН с говядиной»" title="Суп «ЛАГМАН с говядиной»")

			div.col-12.col-md-7
				div.page-product__body
					div.page-product__header.page-product__mobile-hide 
						h1.h1.h1--50.h1--black.page-product__title Суп «ЛАГМАН с&nbsp;говядиной»
						p.text.text--16.text--gray.page-product__subtitle вес нетто: 320 г

					div.page-product__composition
						span.text.text--16.page-product__composition-title
							strong Состав:
						p.text.text--14.text--gray.page-product__composition-text вода, говядина, перец болгарский свежий, лапша яичная (мука в/с, яйцо куриное, растительное масло, соль), морковь свежая, лук репчатый свежий, фасоль зеленая стручковая, сельдерей свежий, паста томатная, масло растительное, бульон говяжий концентрированный натуральный, соус соевый(вода, соевые бобы, рис, соль), чеснок свежий, лук зеленый свежий,специи (паприка красная молотая, перец черный молотый, чеснок гранулы, тмин, орегано, кориандр, зира (кумин), горчица, базилик), соль,  паста мисо (соевые бобы, рис, соль, вода), паста Тобаджан (перец красный острый, растительное масло, кунжутное масло, соль, специи), перец сычуньский.

						div.page-product__compound
							+compound({
								left: {
									name: 'compound-value',
									arg: {
										title: 'Пищевая ценность на 100 г:',
										items: [
											{
												name: 'белки',
												number: '4,38 г'
											},
											{
												name: 'жиры',
												number: '4,83 г'
											},
											{
												name: 'углеводы',
												number: '6,97 г'
											},
											{
												name: 'калории',
												number: '89,8'
											}
										]
									}
								},
								right: {
									name: 'compound-value',
									arg: {
										title: 'Пищевая ценность на 320 г:',
										items: [
											{
												name: 'белки',
												number: '14,02 г'
											},
											{
												name: 'жиры',
												number: '15,46 г'
											},
											{
												name: 'углеводы',
												number: '22,30 г'
											},
											{
												name: 'калории',
												number: '287,4'
											}
										]
									}
								}
							})
					div.page-product__buy
						+buy-action({price: '209', id: 'lagman'})

	div.page-product__tabs
		div.container
			div.row
				div.col-12
					+tab({
						tab: {
							name: 'tabs-header',
							arg: {
								items: [
									{url: '#tab-1', link: 'Описание', class: 'tabs__link--active'},
									{url: '#tab-2', link: 'Приготовление'},
									{url: '#tab-3', link: 'Характеристики'}
								]
							}
						},
						items: [
							{
								id: 'tab-1',
								text_body: '<p class="text text--bold">Авторский рецепт Лагмана от&nbsp;Егора Булатова! Не&nbsp;пропустите, это нереально вкусно!</p><p class="text">Если Вы&nbsp;смогли соблюсти основные принципы приготовления этого восточного блюда, то&nbsp;у&nbsp;Вас получился настоящий лагман, а&nbsp;Вы&nbsp;&mdash; настоящий молодец! Какие&nbsp;же это принципы? Во-первых, мясо&nbsp;Вы обязательно должны обжарить на&nbsp;максимальном огне так, что от&nbsp;казана должен идти дым! А&nbsp;лапшу не&nbsp;покупать в&nbsp;ближайшем супермаркете, а&nbsp;постараться накатать самому! Либо сделать тянутую лапшу&nbsp;&mdash; чузма-лагман либо резаную&nbsp;&mdash; кесма-лагман... И&nbsp;тот и&nbsp;другой вариант приемлемый и&nbsp;правильный. Конечно, более зрелищный в&nbsp;приготовлении первый, а&nbsp;все остальное от&nbsp;лукавого и&nbsp;не&nbsp;лагман это вовсе.</p> <p class="text">Мой Вам совет&nbsp;&mdash; не&nbsp;заморачивайтесь с&nbsp;готовкой, просто закажите себе доставку всех наших удивительных ништяков на&nbsp;дом! Лагман там точно должен оказаться!</p>',
								url_video: 'https://www.youtube.com/embed/yKuQP0hf-gY'
							},
							{
								id: 'tab-2',
								text_content: '<p class="text text--22">1. В СВЧ-печи: приоткрыть крышку контейнера, разогреть на максимальной мощности в течение 8-9 минут.</p><p class="text text--22">2. В духовом шкафу или на плите: переложить замороженный продукт в подходящую посуду и разогревать до закипания.</p>'
							},
							{
								id: 'tab-3',
								text_content: '<p class="text text--22">Вес нетто: 320 г <br> Производитель: ООО ГРАНД, Челябинская область, г. Златоуст, ул. Косотурская, д. 17. <br> Тел.: +7(3513)62-00-67</p> <p class="text text--22">ТУ 10.89.11-017-19421968-2020</p>'
							}
						]
					})