section.page-product
	div.container.page-product__top
		div.row
			div.col-12.col-md-5
				div.page-product__header.page-product__desctop-hide
					h1.h1.h1--50.h1--black.page-product__title Суп «Лохикейтто»
					p.text.text--16.text--gray.page-product__subtitle вес нетто: 320 г

				div.page-product__img
					img(src="images/finskij_lohikejtto_s_semgoj_big.png" alt="Суп «Лохикейтто»" title="Суп «Лохикейтто»")

			div.col-12.col-md-7
				div.page-product__body
					div.page-product__header.page-product__mobile-hide 
						h1.h1.h1--50.h1--black.page-product__title Суп «Лохикейтто»
						p.text.text--16.text--gray.page-product__subtitle вес нетто: 320 г

					div.page-product__composition
						span.text.text--16.page-product__composition-title
							strong Состав:
						p.text.text--14.text--gray.page-product__composition-text вода, картофель свежий, сливки 33%( сливки, молоко цельное), филе лосося, лук репчатый свежий, укроп свежий, масло сливочное коровье, соль, перец душистый горошек, лавровый лист, перец черный горошек.

						div.page-product__compound
							+compound({
								left: {
									name: 'compound-value',
									arg: {
										title: 'Пищевая ценность на 100 г:',
										items: [
											{
												name: 'белки',
												number: '2,93 г'
											},
											{
												name: 'жиры',
												number: '6,92 г'
											},
											{
												name: 'углеводы',
												number: '6,60 г'
											},
											{
												name: 'калории',
												number: '99,6'
											}
										]
									}
								},
								right: {
									name: 'compound-value',
									arg: {
										title: 'Пищевая ценность на 320 г:',
										items: [
											{
												name: 'белки',
												number: '9,38 г'
											},
											{
												name: 'жиры',
												number: '22,14 г'
											},
											{
												name: 'углеводы',
												number: '21,12 г'
											},
											{
												name: 'калории',
												number: '318,7'
											}
										]
									}
								}
							})
					div.page-product__buy
						+buy-action({price: '249', id: 'finskij_lohikejtto_s_semgoj'})

	div.page-product__tabs
		div.container
			div.row
				div.col-12
					+tab({
						tab: {
							name: 'tabs-header',
							arg: {
								items: [
									{url: '#tab-1', link: 'Описание', class: 'tabs__link--active'},
									{url: '#tab-2', link: 'Приготовление'},
									{url: '#tab-3', link: 'Характеристики'}
								]
							}
						},
						items: [
							{
								id: 'tab-1',
								text_body: '<p class="text text--bold">Любимый суп Егора Булатова. Без комментариев.</p><p class="text">Вам обязательно понравится авторский Лохикейтто от&nbsp;Егора Булатова. Это настоящий премиум в&nbsp;исполнении Фабрики супа &#8470;&nbsp;1! Простые и&nbsp;понятные ингредиенты, легкое приготовление, а&nbsp;результат превосходит все ожидания!</p> <p class="text">Смотрите видео приготовления этого финского чуда&nbsp;и, если будете повторять рецепт самостоятельно, не&nbsp;экономьте на&nbsp;продуктах! Нив коем случае не&nbsp;заменяйте семгу на&nbsp;горбушу, а&nbsp;жирные сливки на&nbsp;молоко! Пусть все будет кошерно, не&nbsp;расстраивайте маэстро!</p>',
								url_video: 'https://www.youtube.com/embed/pVmyoW6Ud3A'
							},
							{
								id: 'tab-2',
								text_content: '<p class="text text--22">1. В СВЧ-печи: приоткрыть крышку контейнера, разогреть на максимальной мощности в течение 8-9 минут.</p><p class="text text--22">2. В духовом шкафу или на плите: переложить замороженный продукт в подходящую посуду и разогревать до закипания.</p>'
							},
							{
								id: 'tab-3',
								text_content: '<p class="text text--22">Вес нетто: 320 г <br> Производитель: ООО ГРАНД, Челябинская область, г. Златоуст, ул. Косотурская, д. 17. <br> Тел.: +7(3513)62-00-67</p> <p class="text text--22">ТУ 10.89.11-017-19421968-2020</p>'
							}
						]
					})