.h1 {
	/* 2 Block model */
	margin: 0;

	/* 3 Typography */
	font-family: $font-second;
	font-size: 40px;
	font-weight: 700;
	line-height: 42px;
	color: $color-white;
	@media (min-width: 992px) {
		/* 3 Typography */
		font-size: 65px;
		line-height: 76px;
	}
}
.h1--36 {
	/* 3 Typography */
	font-family: $font-main;
	font-size: 36px;
	font-weight: 600;
	line-height: 49px;
}
.h1--50 {
	/* 3 Typography */
	font-size: 34px;
	line-height: 42px;
	@media(min-width: 992px) {
		/* 3 Typography */
		font-size: 50px;
		line-height: 60px;
	}
}
.h1--black {
	/* 3 Typography */
	color: $color-text;
}