section.about-us.gray.block(id="about-us")
	div.container
		div.row
			div.col-12
				div.block__title
					h2.h2 О нашем магазине

		div.row.justify-content-center
			div.col-12.col-xl-10
				div.video-iframe
					iframe.iframe-video(id="video-start" width="560" height="315" src="https://www.youtube.com/embed/YtYugt5pme4" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)