div.modal.modal--video(id="modal-video")
	div.modal__video
		iframe.modal__iframe-video(id="video-start" width="560" height="315" src="https://www.youtube.com/embed/f0Ra3DNJTQg?rel=0&showinfo=0?" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)