div.modal(id="modal-info")
	h1.h1 Заголовок
	p.text Информация

//- вызов
//- 1. Задаем id блоку
//- 2. Прописываем ссылке следующие
//- 3. a.btn(href="#modal-info" rel="modal:open") Открыть модальное окно
//- 4. Вставлем модальное в конец все страницы
