.cat {
	/* 4 Visual */
	background-image: url(../images/cat__bg-01.png);
	background-repeat: no-repeat;
	background-position: center 48px;
	background-size: 100%;
	@media(min-width: 768px) {
		/* 4 Visual */
		background-position: center 20px;
	}
	@media(min-width: 1200px) {
		/* 4 Visual */
		background-position: center 25px;
		background-size: 96%;
	}
}
.cat.block {
	@media(min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 74px;
	}
}
.cat__item {
	/* 2 Block model */
	display: flex;
	margin-bottom: 20px;
	@media(min-width: 1200px) {
		/* 2 Block model */
		margin-bottom: 41px;
	}
}
.cat--catalog {
	/* 4 Visual */
	background-image: none;
}