include atoms/icon/icon.pug
include atoms/btn/btn.pug 
include atoms/logo/logo.pug 
include atoms/title/title.pug 
include atoms/icon-text/icon-text.pug
include atoms/picture/picture.pug
include atoms/input/input.pug
include atoms/city-select/city-select.pug
include atoms/cart-header/cart-header.pug
include atoms/breadcrumbs/breadcrumbs.pug
include atoms/quantity/quantity.pug
include atoms/link-icon/link-icon.pug

include molecules/item-advantages/item-advantages.pug
include molecules/menu/menu.pug
include molecules/item-delivery/item-delivery.pug
include molecules/cat-item/cat-item.pug
include molecules/order-item/order-item.pug
include molecules/tabs-header/tabs-header.pug
include molecules/compound/compound.pug
include molecules/buy-action/buy-action.pug
include molecules/compound-value/compound-value.pug

include organisms/header/header.pug
include organisms/cat/cat.pug
include organisms/subscription-form/subscription-form.pug
include organisms/delivery/delivery.pug
include organisms/tab/tab.pug 