nav.menu.menu--footer
	ul.menu__list
		li
			a.menu__link(href="#about-us") о нас
		li
			a.menu__link(href="#our-menu") меню
		li
			a.menu__link(href="#advantages") наши приимущества
		li
			a.menu__link(href="#delivery") доставка
		li
			a.menu__link(href="#contacts") контакты